body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color:rgb(253, 255, 255);
}

header{
    background-color:#130303e7;
    color: rgb(241, 238, 238);
    padding: 10px;
    text-align: center;      
}

section{
    padding: 20px; 
    padding-left: 40px;
    margin: 8px;
    background-color: rgb(212, 161, 161);
    border-radius: 5px;
}

img{
    width: 150px;
    border-radius: 50%;
}

footer{
    background-color:#130303e7;
    color:rgb(241, 238, 238);
    text-align: center;
    padding: 10px;
}

a{
    color: rgb(20, 4, 4);
    text-decoration:none;
}

div{
    padding: 10px;
    flex-direction:row;
}

span{
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    background-color:#130303e7;
    color:rgb(241, 238, 238);
}

h2{
    color:#130303e7
}